@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Merriweather', serif;
   box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 20px;
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 }

 .container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 800;
    text-align: center;
 }


 .container .form{
    margin-top: 30px;
 }

 .form .input-box{
    width: 100%;
    margin-top: 20px;
 }

 .input-box label{
    color: #333;

 }
 input[type="date"]{
   background-color: #fff;

 }

 .select-box select{
   background-color: #fff;

 }
 .input-box label::after{
    content: "*";
    color: rgb(245, 11, 11);
    font-size: 1rem;
    margin-left: 1px;
 }

 .form :where(.input-box input, .select-box){
    position: relative;
    height: 50px;
    margin-top: 8px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    border: 1px solid #8ad19e;
    border-radius: 6px;
    padding: 0 15px;
 }

 .form .colum{
    display: flex;
    column-gap: 15px;

 }

 .form :where(.gender-opt, .gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
 }

 .form .gender-box{
    margin-top: 20px;
 }

 .gender-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
 }
 .form .gender{
    column-gap: 5px;

 }


 .form :where(.gender input, .gender label){
    cursor: pointer;


 }

 .address :where(input, .select-box){
    margin-top: 15px;
 }

 .input-box input:focus{
    box-shadow: 0 1px 0 rgba(19, 132, 177, 0.1);
 }
 .select-box select{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: #707070;
    font-size: 1rem;
 }


 .form button{
    height: 55px;
    width: 100%;
    background-color: rgb(130, 106, 251);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 6px;
    transition: all 0.2s ease;
 }

 .gender label{
    color: #707070;
 }

 #massege{
   margin-top: 10px;
   color: #fff;
   font-size: 1rem;
   display: inline-block;
   font-weight: 550;
 }

 input[type="checkbox"]{
   margin-top: 13px;
   font-family: 'Merriweather', serif;
   

   
 }
 .form button:hover{
    background-color: rgb(110, 103, 240);
 }

  /* Rasponsive */
  @media screen and (max-width: 500px) {
    .form .colum{
        flex-wrap: wrap;
    }
    .form :where(.gender-opt, .gender){
        row-gap: 15px;
        
    }
    
 }

